{# src/Sdz/AdminBundle/Resources/views/Admin/.html.twig #}

{% extends "ParcAdminBundle::layout.html.twig" %}

{% block titre %}
	{{ parent() }}- Documents
{% endblock %}

{% block page_titre %}	
	
{% endblock %}

{% block liste %}

	<center>
	<div class="admin_table">
		<h4> Documents </h4>
	<table class="records_list">
        <thead> 
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Catégorie</th>
				<th>Auteur</th>
				<th>Ajouté le </th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr>
                <td>{{ doc.id }}</td>
				<td>
					<a href="{{asset('%s/%s.%s'|format(upload_path,doc.id,doc.path))}}" target="_self" style="text-decoration:none;"> 
					{{doc.nom }}</a>
				</td>
                <td>{{ doc.categorie}}</td>
                <td>{{ doc.auteur }}</td>
                <td>{{ doc.dateAjout|date('d/m/Y')}}</td>
                <td>
                <ul>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('parc_admin_docs_modifier', { 'id': doc.id }) }}">
								<img title="Modifier" src="{{asset('bundles/parcpuffinsbag/images/modifier.png')}}" width="24"/>
							</a>
						</li>
						<li>
							<a class="supp_enr" id="{{ path('parc_admin_docs_supprimer', { 'id': doc.id }) }}">
								<img title="Supprimer" src="{{asset('bundles/parcpuffinsbag/images/supprimer.png')}}" width="24"/>
							</a>
						</li>
					{% endif %}               
                </ul>
                </td>
            </tr>
		{% endfor %}
        </tbody>
    </table>
	</div>
	</center>
	
	<div class="dialog-form" title="Supprimer un document"> 
		<p>Voulez-vous vraiment suprimer cet document? </p>
		<form class="modalform" action="" method="post">
			
		</form> 
	</div>
{% endblock %}