{# src/Sdz/AdminBundle/Resources/views/Admin/.html.twig #}

{% extends "ParcAdminBundle::layout.html.twig" %}

{% block titre %}
	{{ parent() }}- Utilisateurs
{% endblock %}

{% block page_titre %}	
	
{% endblock %}

{% block liste %}

	<center>
	 <div class="admin_table">
	 <h4>Liste des utilisateurs </h4>
	<table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Pseudo</th>
                <th>Role</th>
                <th>Responsable</th>
				<th>Dernière connexion</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
			{% if user.roles[0]!= 'ROLE_SUPER_ADMIN'%}
			<tr>
				<td>{{ user.nom }}</td>
                <td>{{ user.username }}</td>
                <td>{% if user.roles[0] %} {{user.roles[0]}} {%else%}ROLE_USER{% endif %}</td>
                <td>{{ user.lieudit}}</td>
				<td>Le {{ user.lastLogin|date("d-m-Y à H:i")}}</td> 	
                <td>
                <ul>
					{% if (is_granted('ROLE_ADMIN') and user.roles[0] != 'ROLE_ADMIN' and user.roles[0]!= 'ROLE_SUPER_ADMIN') 
					or (is_granted('ROLE_SUPER_ADMIN') and user.roles[0]!= 'ROLE_SUPER_ADMIN') %}					
						<li>
							<a class="user-mod" href="{{ path('parc_admin_users_modifier', { 'id': user.id }) }}">
								<img title="Modifier" src="{{asset('bundles/parcpuffinsbag/images/modifier.png')}}" width="24"/> 
							</a>
						</li>
						<li>
							<a class="mdp_reinit" id="{{ path('parc_admin_password_reinitialiser', { 'id': user.id }) }}">
								<img title="Reinitialiser mot de passse" src="{{asset('bundles/parcpuffinsbag/images/update.png')}}" width="24"/>
							</a>
						</li>
					{#% endif %}
					{% if is_granted('ROLE_SUPER_ADMIN') and user.roles[0]!= 'ROLE_SUPER_ADMIN'%#}
						<li>
							<a class="supp_enr" id="{{ path('parc_admin_users_supprimer', { 'id': user.id }) }}">
								<img title="Supprimer" src="{{asset('bundles/parcpuffinsbag/images/supprimer.jpg')}}" width="24"/>
							</a>
						</li>
					{% endif %}                 
                </ul>
                </td>
            </tr>
			{% endif %}
		{% endfor %}
        </tbody>
    </table>
	</div>
	</center>  
	
	<div class="dialog-form" title="Supprimer un enregistrement"> 
		<p>Voulez-vous vraiment suprimer cet utilisateur? </p>
		<form class="modalform" action="" method="post">
			
		</form> 
	</div>
	<div class="dialog-form3" title="Supprimer un enregistrement"> 
		<p>Voulez-vous vraiment reinitialiser le mot de passe de cet utilisateur? </p>
		<form class="modalform" action="" method="post">
			
		</form> 
	</div>
{% endblock %}