{# src/Sdz/PuffinsBagBundle/Resources/views/Puffinsbag/.html.twig #}

{% extends "ParcPuffinsBagBundle::layout.html.twig" %}

{% block titre %}
	{{ parent() }} - Requetes
{% endblock %}

{% block page_titre %}	
	Requetes
{% endblock %}

{% block contenu %}
	{# #}
		
	{{ form_start(form) }}
		{{ form_errors(form)}}
		
		<div id="requetes">
			<span id="leschamps_0">
				<!--<select onchange="change(this.value,this.id,0)"  name="new_champ_0" id="new_champ_0">
					<option value="lieudit">Lieudit</option>
					<option value="date">Annee</option>
					<option value="action">Action</option>
					<option value="bague">Bague</option>
					<option value="colonie">Colonie</option>
					<option value="secteur">Secteur</option>
					<option value="terrier">Terrier</option><label> Lieudit :  </label>
				</select> -->
				
				{{ form_row(form.lieudit) }}
			</span>
			<span id="leschamps_1"><br/>
				<a href="javascript:create_champ(1)" class="ajout"> Ajouter un champ</a>
			</span>
		</span>
		</div>	
		<br>
		<input type="submit" value="Rechercher" class="{{button}}" />
		
	{{ form_end(form) }}
	
{% endblock %}