{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
	{{ parent() }}
	{% if required %}
		<span class="required" title="Ce champ est obligatoire">*</span>
	{% endif %}
{% endblock %}

{#% block form_widget_simple %}
	{{ parent() }}
	{% if help is defined %}
		<span class="help">{{ help }}</span>
	{% endif %}
{% endblock %#}

{# fields_errors.html.twig #}
{% block form_errors %}
	{% spaceless %}
		{% if errors|length > 0 %}
			
			{% for error in errors %}
				{{
					error.messagePluralization is null? error.messageTemplate|trans(error.messageParameters, 'validators')
					: error.messageTemplate|transchoice(error.messagePluralization,	error.messageParameters, 'validators')
					}}
			
			{% endfor %}
			
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}
 
{% block form_row %}

		<tr>
			<td>{{ form_label(form)}}
				<span class="error">{{ form_errors(form) }}</span>
			</td>
		</tr>
		<tr class="next-input"> 
			<td colspan="2">{{ form_widget(form) }}				
				{% if image_path is defined and image_path is not null %}
					<span class="help_img"><img src={{asset('bundles/parcpuffinsbag/images/aide.png')}} width="16"/>
						<span> {% if help is defined and help is not null %} {{help}} {% endif %}
							<img src={{asset('bundles/parcpuffinsbag/images/'~image_path~'.png')}} style="float:right;"/> 
						</span>
					</span>	
				{% else %}
					{% if help is defined and help is not null %}
						<span class="help" title="{{help}}"><img src={{asset('bundles/parcpuffinsbag/images/aide.png')}} width="16"/></span>
					{% endif %}
				{% endif %}
			</td>
		</tr>
{% endblock form_row %}