<nav>

	<ul>
		<li><a href="{{ path('parc_puffins_bag_accueil') }}">Accueil</a></li>
		<li><a href="{{ path('parc_puffins_bag_liste') }}">Baguage</a></li>
		<li><a href="{{ path('parc_puffins_bag_requetes') }}">Requetes</a></li>
		<li><a href="{{ path('parc_puffins_bag_requetes') }}">Documents</a></li>
		<li><a href="{{ path('parc_admin_accueil') }}">Admin</a></li>
	</ul>
</nav>